# https://git-scm.com/docs/gitmodules
[submodule "boost"]
    path = boost
    url = https://github.com/boostorg/boost.git

[submodule "googletest"]
    path = googletest
    url = https://github.com/google/googletest.git

[submodule "hunspell"]
    path = hunspell
    url = https://github.com/hunspell/hunspell.git

[submodule "cryptopp"]
    path = cryptopp
    url = https://github.com/weidai11/cryptopp.git
