# https://git-scm.com/docs/gitignore
*.d
*.o
*.exe
test
test_*
!*.cpp
.vscode
.vs
tags
TAGS
*.html
ConsoleApplication*
Project*
__history
__recovery
CppApplication_1
*.tmp
*.swp
*.sav
*.dll
*.so
deps
bw-output
.scannerwork
.DS_Store
compile_commands.json

# Keep this entry in the last line of this file.
# (The "clean" target relies on this fact.)
.gitignore
