# https://git-scm.com/docs/gitignore
*.d
*.o
*.exe
.vscode
.vs
tags
TAGS
*.html
ConsoleApplication*
Project*
__history
__recovery
*.tmp
*.swp
*.sav
*.dll
*.so
deps
bw-output
.scannerwork

# Keep this entry in the last line of this file.
# (The "clean" target relies on this fact.)
.gitignore
